@import '../../styles/main.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap');
.searchFilter
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 128px;
}