@import '../../styles/main.scss';

.filters {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 50px;
	padding: 30px 128px;

	@include respond-to(desktop) {
		padding: 20px 5%;
	}
	@include respond-to(laptop) {
		flex-direction: column;
		gap: 20px;
		margin-top: 20px;
	}
}
