@import '../../styles/main.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap');
.wrapper {
    background-color: $light-blue-color;
    padding: 88px 128px;

    .p1 {
        max-width: 570px;
    }
}
