@import "styles/main.scss";

.h4 {
    font-weight: 600;
}

.p1 {
    font-weight: 300;
    color: $subtext-color;
}

.loginCard {
    width: 600px;
    background-color: $white-color;
    position: absolute;

    // centering inside the window
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 16px;

    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.05);
    
    .createAccountHeader {
        text-align: center;
    }
}

.loginForm {
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 54px 74px;

    .input input{
        width: 100%;
        //align-content: stretch;
        text-align: left;
    }
}

.createAccountHeader {
    padding-block: 24px;
    border-bottom: 1px solid $create-account-details-color;
}

.createAccountBody {
    padding-block: 64px;

    .p1:not(.steps .p1) {
        max-width: 55%;
        margin-inline: auto;
        margin-block: 64px;
    }
}
.createAccountFooter {
    padding: 24px 74px ;
    display: flex;
    align-items: center;
    
    justify-content: space-between;
    gap: 40px;
    border-top: 1px solid $create-account-details-color;

    .registrationButton {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        justify-content: center;
        gap: 10px;
    }

    .p1 {
        margin: 0;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight:700;
        font-size: 15px;
        line-height: 19px;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        color: $blue-color;
        opacity: 0.8;
    }

    a {
        font-weight: 800 !important;
        opacity: 1 !important;
    }

    a:hover{
        color: #004fff !important;
    }
}