@import "styles/main.scss";

.h4 {
    font-weight: 600;
}

.p1 {
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: white;
    background-color: #0075FF !important;
    padding: 5px;
}

.p2 {
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: $subtext-color;
    background-color: $create-account-details-color;
    padding: 5px;
}

.createAccount {
    margin: 5% 20%;
    padding: 0px 100px;
    border-radius: 16px;
    box-shadow: 0px 0px 24px rgb(0 0 0 / 5%);

    .createAccountHeader {
        text-align: center;
        padding: 24px;
        border-bottom: 1px solid $create-account-details-color;
    }
}

.createAccountBody {
    padding-block: 64px;

    .p1:not(.steps .p1) {
        max-width: 55%;
        margin-inline: auto;
        margin-block: 64px;
    }
}

.steps {
    width: min(460px, 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;

    .p1 {
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: $create-account-details-color;
        padding: 5px;
    }

    .step--active {
        border: 1px solid $blue-color;
        color: $blue-color;

    }
}

.createAccountFooter {
    padding-block: 24px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid $create-account-details-color;

}

.dottedLine {
    border-top: 1px dotted $blue-color;
    border-bottom: 1px dotted $blue-color;
    width: 100px;
}