@import '../../styles/main.scss';

.blogHeader {
	padding-block: 88px 118px;
}

.h1 {
	margin: 0;
}

.h2, .h4 {
	margin-top: 0;
}

.blogHeader {
	background-color: $light-blue-color;
	padding: 88px 128px;

	.p1 {
		max-width: 570px;
	}
}

.blogBody {
	padding: 128px;
}

.blogBodyInputs {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 64px;
}

.blogList {
	padding: 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 16px;
	list-style-type: none;
}

.blogFooter {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 256px;
	margin-inline: auto;
}
