@import "main";

.fieldWrapper {
	position: relative;
	height: 48px;
	width: 300px;
	display: flex;

	@include respond-to(tablet) {
		width: 100%;
	}

	.field {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		padding: 0 24px;
		width: 100%;
		font-size: 16px;
		background: #FFFFFF;
		border: 1px solid #D0D5DD;
		border-radius: 10px;

	}

	select.field {
		cursor: pointer;
	}

	.icon {
		position: absolute;
		width: 16px;
		height: 16px;
		top: 14px;
		right: 20px;
	}

	&.hasError {
		border-color: $error-color;
		color: $error-color;

		+ svg path {
			fill: $error-color;
			transition: fill 100ms ease;
		}
	}
}

.fieldWrapperWide {
	@extend .fieldWrapper;
	width: 500px;

	@include respond-to(tablet) {
		width: 100%;
	}
}
