//screen vars
$desktop-width: 1200px - 1px;
$laptop-width: 1024px - 1px;
$tablet-width: 768px - 1px;
$mobile-width: 480px - 1px;

// Colors
//Brand colors
$blue-color: #0075FF;
$orange-color: #FF8F33;
//Product colors
$title-color: #071634;
$subtext-color: #2F3247;
$gray-color: #414141;
$black-color: #1C1C1C;
$error-color: #D02015;
$input-color: #D0D5DD;
$input-text-color: #646886;
//Secondary colors
$light-blue-color: #EEF4FF;
$hero-color: #FFFBF7;
$white-color: #FFFFFF;

// Typography
$font-family-title: 'Open Sans';
$font-family-text: 'Open Sans';

