@import "./../../styles/main";

.background {
	font-family: "Open Sans", sans-serif;
	padding: 5% 10%;

	@include respond-to(desktop) {
		padding: 5%;
	}
	@include respond-to(mobile) {
		padding: 0;
	}
}

.box {
	padding: 0 6%;
	border-radius: 16px;
	box-shadow: 0 0 24px rgb(0 0 0 / 5%);

	@include respond-to(tablet) {
		padding: 0;
		border-radius: 0;
		box-shadow: none;
	}
	@include respond-to(mobile) {
		padding: 0 24px;
	}
}

.boxHeader {
	text-align: center;
	padding: 24px;
	border-bottom: 1px solid $create-account-details-color;
}

.fieldsetTitle {
	font-size: 16px;
	font-weight: 700;
	color: #0075FF;
}

.fieldset {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 16px;

	@include respond-to(1600px) {
		grid-template-columns: repeat(3, 1fr);
	}
	@include respond-to(laptop) {
		grid-template-columns: repeat(2, 1fr);
	}
	@include respond-to(mobile) {
		display: flex;
		flex-direction: column;
	}
}

.formDescription {
	font-weight: 300;
}

.boxFooter {
	padding-block: 24px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border-top: 1px solid $create-account-details-color;
}

.submitButton {
	@include respond-to(mobile) {
		width: 100%;
	}
}
