@import "./../sections.module";

.narrowSection {
	margin: 193px 256px;
	display: flex;

	@include respond-to(1500px) {
		margin: 10%;
	}
	@include respond-to(laptop) {
		flex-direction: column;
	}
	@include respond-to(tablet) {
		margin: 5%;
	}

	.leftSide,
	.rightSide {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@include respond-to(laptop) {
			width: 100%;
		}
	}

	.leftSide {
		padding-right: 30px;

		@include respond-to(laptop) {
			order: 2;
			padding-right: 0;
		}
	}

	.rightSide {
		padding-left: 30px;

		@include respond-to(laptop) {
			order: 1;
			padding-left: 0;
		}
	}

	.paragraphItems {
		margin-bottom: 40px;
	}
}
