@import './../../styles/main';

.partnersGrid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin: 5% 10%;

	@include respond-to(desktop) {
		grid-template-columns: repeat(3, 1fr);
	}
	@include respond-to(laptop) {
		margin: 5%;
	}
	@include respond-to(tablet) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.partnerCard {
	width: 200px;
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	justify-self: center;

	@include respond-to(laptop) {
		width: 180px;
		height: 100px;
	}
	@include respond-to(mobile) {
		width: 150px;
		height: 80px;
	}
}

.partnerCard img {
	max-width: 100%;
}
