@import '../../styles/main.scss';

.input {
    box-sizing: border-box;
    display: inline-flex;
    justify-content:space-between;
    align-items: flex-start;
    padding: 12px 24px;
    background: $white-color;
    border: 1px solid $input-color ; 
    border-radius: 10px;

    &--error {
        border-color: $error-color;

        svg path {
            fill: $error-color;
            transition: fill 100ms ease;
        }
    }

    &:focus-within {
        border-color: $blue-color;

        svg path {
            fill: $blue-color;
            transition: fill 100ms ease;
        }
    }

    input {
        //display: flex;
        width: 100%;
        border: 0;
        outline: none;
        justify-self: stretch;
    }
}

.icon {
    width: 16px;
    height: 16px;
}
