@import "src/styles/main";

.errorPageContent {
	font-family: "Open Sans", sans-serif;
	display: flex;
	margin: auto;
	justify-content: center;
	align-items: center;
	height: 500px;
	width: 80%;
	text-align: center;
	font-size: 24px;
	font-weight: 300;

	@include respond-to(tablet) {
		width: 90%;
	}
	@include respond-to(mobile) {
		font-size: 20px;
	}
}
