@import "styles/main.scss";

.h4 {
	font-weight: 600;
}

.p1 {
	font-weight: 300;
	color: $subtext-color;
}

.loginForm {
	width: 80%;
	max-width: 700px;
	margin: 75px auto 100px;
	border-radius: 16px;
	box-shadow: 0 0 24px rgb(0 0 0 / 5%);

	@include respond-to(tablet) {
		width: 95%;
		padding: 50px 0 150px;
		margin: 0 auto;
		border-radius: 0;
		box-shadow: none;
	}
}

.loginFormHeader {
	text-align: center;
	padding-block: 24px;
	border-bottom: 1px solid $create-account-details-color;

	@include respond-to(tablet) {
		border-bottom: 0;
	}
}

.loginFormInputs {
	display: flex;
	align-items: center;
	gap: 20px;
	flex-direction: column;
	padding: 54px 74px;

	@include respond-to(tablet) {
		padding: 30px;
	}

	.input {
		width: 100%;
		text-align: left;
	}

	.fieldWrapper {
		display: flex;
		width: 100%;

		input {
			width: 100%;
		}
	}
}

.loginFormButtons {
	padding: 24px 74px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 40px;
	border-top: 1px solid $create-account-details-color;

	@include respond-to(tablet) {
		padding: 30px;
		border-top: 0;
	}
	@include respond-to(mobile) {
		padding: 10px 30px;
	}

	@include respond-to(mobile) {
		flex-direction: column-reverse;
	}

	.loginButton {
		@include respond-to(mobile) {
			width: 100%;
		}
	}

	.registrationLinkWrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 10px;
	}

	a,
	.registrationQuestion,
	.registrationLink {
		margin: 0;
		font-family: 'Open Sans', sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 15px;
		line-height: 19px;
		letter-spacing: 0.05em;
		color: $blue-color;
		opacity: 0.8;
	}

	.registrationQuestion {
		margin-top: 10px;
	}

	a {
		font-size: 18px;
	}

	a:hover {
		color: #004fff !important;
	}
}

.confirmEmail {
	display: flex;
	text-align: center;
	align-items: center;
	flex-direction: column;
	padding: 54px 74px;
	font-size: 18px;


	.email {
		font-weight: 500;
		color: $blue-color;
	}
}
