@import "styles/main.scss";

.link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */

    text-decoration-line: underline;

    cursor: pointer;

    /* Brand Colors/ Blue */

    color: $blue-color;

    transition: ease-out 0.3;

    &:hover {
        color: #004fff;
    }
}