@import '../../styles/main.scss';

.singleBlogMain {
    padding-block: 490px 0;
    margin-bottom: 200px;

    .h2 {
        font-weight: 600;
        margin-top: 96px;
    }

    article:nth-child(1) .h2{
        margin-top: 0;
    }

    .p1 {
        font-weight: 300;
    }

    img, iframe {

        min-height:  547px;
        margin-top: 96px;
        width: 100%;
        object-fit: cover;
        border-radius: 30px;
    }
}