@import '../../styles/main.scss';

.filters {
	display: flex;
	justify-content: space-between;
	margin: 100px auto 20px;
	padding: 10px 0;
	width: 80%;

	@include respond-to(laptop) {
		flex-direction: column;
		margin: 20px auto;
	}
	@include respond-to(tablet) {
		width: 90%;
	}
	@include respond-to(mobile) {
		width: 95%;
	}

	.leftSide {
		width: 40%;
		display: flex;
		justify-content: flex-start;

		@include respond-to(laptop) {
			width: 100%;
			margin: 10px 0;
		}

		@include respond-to(mobile) {
			margin: 0;
		}
	}

	.rightSide {
		width: 40%;
		display: flex;
		justify-content: flex-end;
		gap: 20px;

		@include respond-to(laptop) {
			width: 100%;
			justify-content: space-between;
			margin: 10px 0;
		}

		@include respond-to(mobile) {
			flex-direction: column;
			gap: 0;
			margin: 0;
		}
	}

	.rightFilterField {
		width: 45%;

		@include respond-to(laptop) {
			width: 48%;
		}

		@include respond-to(mobile) {
			width: 100%;
		}
	}
}
