@import '../../styles/main.scss';

.aboutAuthorSection {
	font-family: "Open Sans", sans-serif;
	margin-block: 96px 256px;
	border-top: 1px solid $gray-color;
	padding-top: 64px;
	display: flex;

	.leftSide {
		display: flex;
		gap: 24px;
		align-items: center;
		width: min-content;
		padding-right: 64px;
		min-height: 117px;
		border-right: 1px solid $gray-color;
	}

	.authorImage {
		width: 120px;
		height: 120px;
		border-radius: 50px;
		object-fit: cover;
	}

	.rightSide {
		position: relative;
		margin-left: 64px;
	}

	.authorName {
		@extend .p1;
		font-weight: 600;
		margin-top: 0;
	}

	.authorInfo {
		font-weight: 300;
	}

	.socialMediaLinks {
		position: absolute;
		list-style-type: none;
		display: flex;
		margin: 0;
		gap: 48px;
		top: 120%;
		left: 0;
		padding: 0;
	}
}
