@import '../../styles/main.scss';

.imageUpload {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 30px;
    gap: 24px;

    //border: 1px solid black;

    width: 100%;
    height: 269px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    .imageField {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 36px 64px;
        gap: 2px;

        max-width: 276px;
        height: auto;

        /* Product colors/Input Stroke */

        border: 1px solid #D0D5DD;
        /* Drop shadow */

        filter: drop-shadow(0px 0px 24px rgba(0, 0, 0, 0.05));
        border-radius: 16px;

        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;

        .image {
            width: 128px;
            height: 128px;

            border-radius: 50%;
            object-fit: cover;
        }

        .text {
            cursor: pointer;
            //width: 148px;

            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            /* identical to box height */

            text-decoration-line: underline;

            /* Brand Colors/ Blue */

            color: $blue-color;


            /* Inside auto layout */

            flex: none;
            order: 1;
            flex-grow: 0;
        }
    }
}

.input {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 6px;

    height: auto;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;

    .textarea {
        height: 100%;
        width: calc(100% - 68px);
        //align-self: stretch;
        resize: none;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 12px 34px;

        //max-width: 1550px;
        height: 239px;

        /* Secondary colors/White */

        background: #FFFFFF;
        /* Product colors/Input Stroke */

        border: 1px solid #D0D5DD;
        border-radius: 16px;

        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;

        color: input-text-color;
    }

    .charCount {
        //height: 24px;
        margin: 0;


        /* p2 */

        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        /* identical to box height, or 24px */


        /* Brand Colors/ Blue */

        color: $blue-color;
    }
}