@import "../../styles/main.scss";

.h1 {
    margin: 0;
}

.h2, .h4 {
    margin-top: 0;
}

.contact-section-1 {
    background-color: $light-blue-color;
    width: 100vw;
    padding: 88px 128px;

    .p1 {
        max-width: 570px;
    }
}

.contact-section-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    padding: 193px 128px;

    & > * {
        width: 100%;
    }
}

.contact-section-3 {
    background-color: $light-blue-color;

    padding: 236px 128px;

}

.centered-text {
        text-align: center;
        padding-block: 0 46px;
        margin-inline: auto;

        button {
            margin-inline: auto;
            margin-top: 81px;
            width: 254px;
        }
}

.contact-section-2 strong, .contact-section-3 strong, .contact-section-4 strong {
    text-transform: uppercase;
    font-weight: bold;
    color: $blue-color;
}

.contact-list {
    list-style-type: none;
    display: flex;
    gap: 144px;
}

.contact-section-4 {
    padding-block: 128px;

    .p1 {
        width: 60%;
        margin-inline: auto;
    }
}

.contact-section-5 {
    @extend .contact-section-2;
    padding-block: 164px;

    .flex-img-container {
        display: flex;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }
}

.lists {
    display: flex;
    gap: 70px;

    ul{
    list-style-type: none;
    padding-left: 0;

    &:nth-of-type(1){
        margin-left: 15px;
    }

    li {
        position: relative;

        &::before {
            position: absolute;
            content: '';
            background-color: $gray-color;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            top: 50%;
            transform: translateY(-50%);
            left: -10px;
        }
    }

    li + li {
        margin-top: 5px;
    }
}
}

.images-box {
    display: flex;
    flex-direction: column;
}