@import '../../styles/field.scss';

.datePicker {
    &.error {
        input {
            height: 44px !important;
            border: 2px solid $error-color;
        }

        input::placeholder {
            color: $error-color;
        }

        input:focus {
            border: 2px solid $error-color;
            outline: none;
        }
    }
}

.textError {
    color: $error-color;
    font-size: medium;
    margin: 1% 2%;
}