@import "./../sections.module";

.stepsSection {
	padding: 236px 128px;

	@include respond-to(1500px) {
		padding: 10%;
	}
	@include respond-to(tablet) {
		padding: 5%;
	}
}

.header {
	text-align: center;
	margin-bottom: 80px;

	@include respond-to(laptop) {
		margin-bottom: 50px;
	}
}

.steps {
	display: grid;
	row-gap: 35px;

	@include respond-to(laptop) {
		display: flex;
		flex-direction: column;
	}

	.stepNumber {
		text-transform: uppercase;
		font-weight: bold;
		color: $blue-color;

		@include respond-to(laptop) {
			float: left;
			margin-right: 10px;
		}
	}

	.p1 {
		margin: 10px 0;
	}
}
