@import '../../styles/main.scss';

.singleBlogContainer {
    width: 1244px;
    margin-inline: auto;
}

.aboutDetails {
    margin-block: 96px 256px;
    border-top: 1px solid $gray-color;
    padding-top: 64px;

    .aboutMain {
        display: flex;

        .authorName {
            display: flex;
            gap: 24px;
            align-items: center;
            width: min-content;
            padding-right: 64px;
            min-height: 117px;
            border-right: 1px solid $gray-color;
         }

         .authorAbout {
            position: relative;
            margin-left: 64px;

            p {
                margin-bottom: 16px;
            }
         }

         .aboutHeading {
               @extend .p1;
               font-weight: 600;
               margin-top: 0;
            }
    }

    .aboutSocialLinks {
        position: absolute;
        list-style-type: none;
        display: flex;
        margin: 0;
        gap: 48px;
        top: 120%;
        left: 0;
        padding: 0;
    }

    .aboutParagraph {
        @extend .p1;
        font-weight: 300;
        margin: 0 !important;
    }
}