@import "styles/main.scss";

.p1 {
	text-align: center;
	font-weight: 300;
	color: $subtext-color;
}

.formGrid {
	display: grid;
    width: 100%;

	pre {
		text-align: center;
	}
}

.passwordForgotForm {
	.formInputs {
		display: flex;
		align-items: center;
		gap: 20px;
		flex-direction: column;
		padding: 54px 74px;

		@include respond-to(tablet) {
			padding: 30px;
		}

		.input {
			width: 100%;
			text-align: left;
		}

		.email {
			font-weight: 500;
			color: $blue-color;
		}
	}
}

.formButtons {
	padding: 24px 74px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 40px;
	border-top: 1px solid $create-account-details-color;

	@include respond-to(tablet) {
		padding: 30px;
		border-top: 0;
	}
	@include respond-to(mobile) {
		padding: 10px 30px;
	}

	@include respond-to(mobile) {
		flex-direction: column-reverse;
	}

	.loginButton {
		@include respond-to(mobile) {
			width: 100%;
		}
	}

	.registrationLinkWrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 10px;
	}

	a,
	.registrationQuestion,
	.registrationLink {
		margin: 0;
		font-family: 'Open Sans', sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 15px;
		line-height: 19px;
		letter-spacing: 0.05em;
		color: $blue-color;
		opacity: 0.8;
	}

	.registrationQuestion {
		margin-top: 10px;
	}

	a {
		font-size: 18px;
	}

	a:hover {
		color: #004fff !important;
	}
}

.error {
	font-weight: 400;
	color: red;
}