@import '../../styles/main.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap');

.pageHeader {
	padding: 45px 128px 88px;

	@include respond-to(desktop) {
		padding: 10%;
	}
	@include respond-to(tablet) {
		padding: 5%;
	}

	.p1 {
		max-width: 570px;
	}
}

.pageHeaderWithImage {
	@extend .pageHeader;

	.imageWrapper {
		position: relative;
		width: 100%;
	}

	.imageWrapper,
	.image {
		height: 700px;
		@include respond-to(desktop) {
			height: 600px;
		}
		@include respond-to(laptop) {
			height: 500px;
		}
		@include respond-to(tablet) {
			height: 400px;
		}
		@include respond-to(mobile) {
			height: 300px;
		}
	}

	.image {
		object-fit: cover;
		position: absolute;
		border-radius: 30px;
		width: 100%;
		right: 0;

	}
}

.narrowPageHeader {
	padding-left: 15%;
	padding-right: 15%;

	@include respond-to(desktop) {
		padding-left: 10%;
		padding-right: 10%;
	}
	@include respond-to(tablet) {
		padding-left: 5%;
		padding-right: 5%;
	}
}
