@import "./../../registration.form.module";

.registrationConfirmationText {
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	padding: 80px 20px;
	margin: 0;
}

.email {
	font-weight: 600;
}
