@import "styles/main.scss";

.registerAccount {
    padding: 30px;

    .profileOption {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.alignCenter {
    text-align: center;
}