@import "./../../../../styles/main";

.registerAccount {
	padding: 30px;

	.profileOption {
		width: 300px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;

		@include respond-to(mobile) {
			width: 100%;
		}
	}
}

.alignCenter {
	text-align: center;
}
