@import '../../styles/main.scss';

.singleBlogContainer, .singleDonationContainer {
    width: min(1244px, 90%);
    margin-inline: auto;
}

.mainAppContainer {
    width: min(1664px, 90%);
    margin-inline: auto;
}