@import "styles/main.scss";
@import '../../styles/field.scss';


.selectError {
    height: 48px;
    border: 2px solid $error-color !important;
    color: $error-color;

    &::placeholder {
        color: $error-color;
    }

    &:focus {
        border: 2px solid $error-color !important;
        outline: none;
    }
}

.selectInputWrapper {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin: 0px 24px 24px 0px;
}

.selectInput {
    text-align: center;
    justify-content: center;
    display: flex;
}

.inputError {
    display: inline-block;
    color: $error-color;
    font-size: medium;
    margin: 1% 2%;
}

.option {
    color: black !important;
}
