@import "./../../styles/main";

.fieldWrapper {
	font-family: "Open Sans", sans-serif;
	position: relative;
	width: 100%;
	min-height: 70px;

	@include respond-to(tablet) {
		width: 100%;
	}

	.fieldInnerWrapper {
		display: flex;
		width: 100%;
	}

	.field {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		padding: 0 24px;
		height: 48px;
		width: 100%;
		font-size: 16px;
		background: #FFFFFF;
		border: 1px solid #D0D5DD;
		border-radius: 10px;
	}

	input.field {
		height: 46px;
	}

	select.field {
		cursor: pointer;
	}

	.icon {
		position: absolute;
		width: 16px;
		height: 16px;
		top: 14px;
		right: 20px;
	}

}

.fieldWrapperWithError {

	.field,
	input {
		background-color: #fcf4f4;
		border: 1px solid red;
	}

	.field::placeholder {
		color: $error-color;
	}

	.field:focus {
		outline: 1.5px solid red;
	}

	svg path {
		fill: red;
	}

	.errorMessage {
		margin: 0;
		color: red;
	}
}
