@import "./../../styles/main";

.fieldWrapper {
	font-family: "Open Sans", sans-serif;
	position: relative;
	width: 100%;
	min-height: 70px;
	margin-bottom: 12px;

	@include respond-to(tablet) {
		width: 100%;
	}

	.fieldInnerWrapper {
		display: flex;
		width: 100%;
	}

	.field {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		padding: 0 24px;
		height: 48px;
		width: 100%;
		font-size: 16px;
		background: #FFFFFF;
		border: 1px solid #D0D5DD;
		border-radius: 10px;

		&.textarea {
			width: calc(100% - 68px);
			padding: 12px 24px;
			height: 248px;
			@include text;
		}
	}

	.fieldLabel {
		position: absolute;
		top: -24px;
		@include text;
		color: $blue-color;
		font-weight: 400;
		text-transform: unset;
	}

	.infoIcon {
		margin-left: 5px;
		width: 15px;
		height: 15px;
		opacity: 0.3;
		cursor: pointer;
	}

	input.field {
		height: 46px;
	}

	select.field {
		cursor: pointer;
	}

	.icon {
		position: absolute;
		width: 16px;
		height: 16px;
		top: 14px;
		right: 20px;
	}

	.charCount {
		text-align: right;
		margin: 0px 20px 0px 0px;
		font-size: 16px;
		@include text;
		color: $blue-color;
	}
}

.fieldWrapperWithError {
	.field,
	input, .textarea {
		background-color: #fcf4f4;
		border: 1px solid red;
	}

	.field::placeholder {
		color: $error-color;
	}

	.field:focus {
		outline: 1.5px solid red;
	}

	svg path {
		fill: red;
	}

	.errorMessage {
		font-family: "Open Sans", sans-serif;
		margin: 0;
		color: red;
		margin-bottom: 20px;
	}

	.fieldLabel {
		color: red;
	}

	.charCount {
		color: red;
	}
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 200px;
	border: 1px solid $blue-color;
	background-color: $light-blue-color;
	color:$input-text-color;
	text-align: center;
	border-radius: 16px;
	padding: 5px 0;
	position: absolute;
	left: -150px;
	top: 20px;
	z-index: 1;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}
