@import "src/styles/variables";
@import "src/styles/main";

.cardItem {
	width: 544px;
	min-height: 799px;
	border-radius: 16px;
	background-color: $white-color;
	box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
	position: relative;

	img {
		object-fit: cover;
		width: 100%;
		height: 370px;
	}

	.content {
		padding: 51px;
	}

	.imageWrapper {
		border-bottom: none;
	}

	.image {
		border-top-left-radius: 16px;
		border-top-right-radius: 16px;
	}

	.category {
		background-color: #BFDDFF;
		color: #0075FF;
		padding: 3px 12px;
		border-radius: 10px;
		font-family: 'Open Sans', sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 150%;
		margin-right: 6px;
	}

	.description {
		margin-top: 16px;

		.p1 {
			margin-top: 24px;
		}
	}

}

.button {
	position: absolute;
	bottom: 24px;
}

.date {
	@extend .p1;
	position: absolute;
	bottom: 88px;
	font-weight: 100;
}

.cardItem:hover {
	border: solid 1px $blue-color
}
