@import "src/styles/main";

.desktopNavigation {

	@include respond-to(tablet) {
		display: none;
	}

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 5%;
	height: 115px;
	background: $light-blue-color;

	.imageWrapper {
		display: inline-block;
		width: 20%;
	}

	.middleMenu {
		display: flex;
		width: 100%;
		max-width: 800px;
		justify-content: space-around;
	}

	.tabItem {
		padding: 0;
		font-weight: 500;
		font-size: 18px;
		height: 23px;
		text-align: center;
	}

	.tabLabel {
		cursor: pointer;
		font-family: 'Open Sans', sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 25px;
		color: $blue-color;
	}

	.anonymousMenu {
		display: flex;
		gap: 24px;
	}

	.authenticatedMenu {
		position: relative;
		cursor: pointer;
	}

	.logoutButton {
		border: 2px solid $blue-color;
		position: absolute;
		right: 0;
		top: 70px;
		width: 125px;
		background-color: white;
		display: flex;
		cursor: pointer;
		justify-content: center;
		align-items: center;
		height: 0;
		overflow: hidden;
		visibility: hidden;
		transition-property: height, visibility;
		transition-duration: 0.6s;
	}

	.authenticatedMenu:hover .logoutButton {
		height: 50px;
		visibility: visible;
	}

}
