@import "src/styles/main";

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 36px 128px;
    height: 115px;
    background: $light-blue-color;

    .responsiveNav {display: none;}

    @include respond-to(tablet) {
        padding: 24px 24px;
        height: auto;

        justify-content: space-between;
    
        .imageWrapper {
            width: 120px !important;
        }

        .responsiveNav {
            display: block;
            z-index: 10;
        }
    }

    .imageWrapper {
        display: inline-block;
        width: 20%;

        .image {
            vertical-align: middle;
        }
    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 80%;
        @include respond-to(tablet) {
            background: white;
            display: none;
        }

        .tabItem {
            padding: 0px;
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
            width: 80px;
            height: 23px;
            margin-left: 64px;
            text-align: center;
        }

        .tabName {
            cursor: pointer;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            color: $blue-color;
        }
    }

    .buttons {
        display: flex;
        gap: 24px;

        @include respond-to(tablet) {
            background: white;
            display: none;
        }
    }

    .responsiveNav {

        .nav {
            //display: none;
            position: absolute;
            display: none;
            top: 100px;
            left: 0;
            background-color: $light-blue-color;
            width: calc(100% - 48px);
            padding: 16px 24px;
            border-bottom: 2px solid $blue-color;

            .tabItem {
                color: $blue-color;
                padding-bottom: 50px;
                font-family: "open Sans";
                font-weight: 500;
            }

            &.show {
                display: block;
            }

            .buttons {
                display: flex !important;
                margin: 0;
                background-color: $light-blue-color !important;
                max-width: 100%;
                justify-content: space-between;
                
                gap: 5;
    
                button {
                    width: 50%;
                }
                
                @include respond-to(tablet) {
                    background: white;
                    display: block;
                }
            }
        }

        svg {
            width: 20px;
            height: 20px;

            path {
                fill: $blue-color;
            }
        }
    }
}