@import "src/styles/main";

header {
	.tabItem {
		padding: 0;
		font-weight: 500;
		font-size: 18px;
		height: 23px;
		text-align: center;

		@include respond-to(laptop) {
			padding: 20px;
			border-bottom: 1px solid $blue-color;
			text-align: left;
		}
	}

	.tabItem:first-of-type {
		@include respond-to(laptop) {
			border-top: 1px solid $blue-color;
		}
	}

	.tabLabel {
		cursor: pointer;
		font-family: 'Open Sans', sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 25px;
		color: $blue-color;
	}
}

