@import "../../styles/main.scss";

.h4 {
	font-weight: 600;
}

.passwordResetWrapper {
	padding-top: 10px;
}

.passwordReset {
	width: 80%;
	max-width: 700px;
	margin: 75px auto 100px;
	border-radius: 16px;
	box-shadow: 0 0 24px rgb(0 0 0 / 5%);

	@include respond-to(tablet) {
		width: 95%;
		padding: 50px 0 150px;
		margin: 0 auto;
		border-radius: 0;
		box-shadow: none;
	}
}

.passwordResetHeader {
	text-align: center;
	padding-block: 24px;
	border-bottom: 1px solid $create-account-details-color;

	@include respond-to(tablet) {
		border-bottom: 0;
	}
}
