@import "./../header.module";

.desktopNavigation {
	left: 0;
	right: 0;
	position: fixed;
	z-index: 99;

	@include respond-to(laptop) {
		display: none;
	}

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 5%;
	height: $desktop-header-height;
	background: $light-blue-color;

	.avatar {
		height: 65px;
		width: 65px;
		object-fit: cover;
		border-radius: 50px;
	}

	.middleMenu {
		display: flex;
		gap: 3em;
		max-width: 800px;
		justify-content: space-around;

		@include respond-to(1300px) {
			gap: 2em;
		}

		@include respond-to(1100px) {
			gap: 1em;
		}
	}

	.anonymousMenu {
		display: flex;
		gap: 24px;

		@include respond-to(1400px) {
			margin-top: 35px;
			gap: 10px;
			flex-direction: column;
			align-items: flex-end;
		}
	}

	.authenticatedMenu {
		position: relative;
		cursor: pointer;
		padding: 20px 5px;
	}

	.userMenu {
		border: 2px solid $blue-color;
		position: absolute;
		right: 0;
		top: 110px;
		width: 130px;
		background-color: $light-blue-color;
		display: flex;
		cursor: pointer;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		height: 0;
		visibility: hidden;
		transition-property: height, visibility;
		transition-duration: 0.4s;
		border-radius: 16px;
	}

	.authenticatedMenu:hover .userMenu {
		height: 86px;
		visibility: visible;
	}

	.userMenuOptions {
		height: 100%;
		display: block;
		text-align: center;

		.tabLabel {
			display: flex;
			justify-content: center;
			align-content: center;
			height: fit-content;
			background: $light-blue-color;
			width: 100%;
			margin: 12px 0;
		}

		.tabLabel:hover {
			opacity: 0.4;
		}
	}
}
