@import "src/styles/variables";
@import "src/styles/main";


.userDetailsWrapper {
	align-items: center;
	justify-content: center;
	display: flex;
}

.userDetailsSection {
	padding: 5%;
	border-radius: 16px;
	display: flex;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
	margin: 36px;
	min-height: 325px;

	@include respond-to(desktop) {
		margin: 0;
		flex-direction: column;
		width: 100%;
	}

	.imageSection {
		display: inline-block;
		text-align: center;
		width: fit-content;

		@include respond-to(mobile) {
			display: flex;
			justify-content: center;
			width: 100%;
		}

		.imageWrapper {
			height: 270px;
			width: 240px;
			border: 1.5px solid $input-color;
			border-radius: 16px;
			margin-right: 30px;

			@include respond-to(desktop) {
				margin-right: 0;
				margin-bottom: 20px;
			}

			.roundedImage {
				display: block;
				margin: 32px auto 15.5px;
				width: 128px;
				height: 128px;
				background-color: $light-blue-color;
				border-radius: 100%;
				object-fit: cover;
				object-position: top;
			}

			.editImageOverlay {
				display: none;
				margin: -144px auto 15.5px;
				width: 128px;
				height: 128px;
				background-color: rgb(#00000066, 0.4);
				border-radius: 100%;
				object-fit: cover;
				object-position: top;

				.editImgIcon {
					height: 25px;
					color: white;
					margin-top: 50px;
				}
			}

			.profileName {
				font-family: 'Open Sans', sans-serif;
				font-style: normal;
				font-weight: 600;
				font-size: 18px;
				line-height: 150%;
				color: $blue-color;
				margin-bottom: 8px;
			}

			.profileLocation {
				color: $blue-color;

				.city {
					display: inline-block;
					color: $subtext-color;
				}

				.icon {
					display: inline-block;
					width: 16px;
					height: 20px;
					margin-right: 10px;
					margin-bottom: -3px;
				}
			}
		}
	}
}

.descriptionSection {
	display: inline-block;
	vertical-align: top;
	height: 100%;

	.createdDate {
		margin-bottom: 12px;
	}

	.title {
		margin-bottom: 8px;
	}

	.workApplication {
		font-family: 'Open Sans', sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 25px;
		color: #414141;
		margin-bottom: 36px;
	}

	.userDetails {
		margin-top: 64px;
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		gap: 5px 24px;

		@include respond-to(laptop) {
			display: flex;
			flex-direction: column;
		}

		.elementInfo {
			margin-bottom: 20px;
		}
	}
}

.h5 {
	margin: 0 0 12px 0;
}

.socialMediaLink {
	margin-right: 36px;
}

.roundedImage:hover {
	cursor: pointer;

	&.editEnabled {
		opacity: 0.2;
	}
}

.roundedImage:hover + .editImageOverlay {
	display: block;
}

.editIcon {
	height: 18px;
	margin-left: 10px;
}

.editCityInput {
	width: 200px;
	margin-left: 20px;
	color: $subtext-color;
}
